<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AIMS_Entities" connectionString="metadata=res://*/AimsEntities.csdl|res://*/AimsEntities.ssdl|res://*/AimsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlprod;initial catalog=AIMS_Main;persist security info=True;user id=svc-aims;password=$db$service78;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>