<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DimensionWebService" value="http://lonweb1t.ashmore.local:7000/GreenFieldOData/wcfdataservice.svc/" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!-- both AIMS_MainEntities and Aims_Main should be configured to connect to the same server -->
    <add name="AIMS_MainEntities" connectionString="metadata=res://*/CompositesDataModel.csdl|res://*/CompositesDataModel.ssdl|res://*/CompositesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LONSQL3T;initial catalog=AIMS_Main_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Aims_Main" connectionString="Data Source=SQLTEST.ashmore.local ;Initial Catalog=AIMS_Main_Dev;Persist Security Info=True;User ID=svc-aims;Password=$db$service78;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>