<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIMS.CalcEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AIMS.CalcEngine.Properties.Settings>
            <setting name="NumberOfThreads" serializeAs="String">
                <value>5</value>
            </setting>
        </AIMS.CalcEngine.Properties.Settings>
    </userSettings>

  <connectionStrings>
    <add name="AimsMain" connectionString="Data Source=lonweb1t.ashmore.local;Initial Catalog=AIMS_Main;Persist Security Info=True;User ID=WPSuperUser;Password=Password1;MultipleActiveResultSets=True"/>
  </connectionStrings>

</configuration>