SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[InsertMacroeconomic_Data] 
	(	@COUNTRY_CODE VARCHAR(4),
		@FIELD VARCHAR(30),
		@YEAR1 INT,
		@VALUE DECIMAL(32,6),
		@UPDATE_DATE DATETIME,
		@UPDATE_SOURCE VARCHAR(20)
	)

AS

BEGIN
	
	INSERT INTO Macroeconomic_Data VALUES
	(	@COUNTRY_CODE ,
		@FIELD ,
		@YEAR1 ,
		@VALUE ,
		@UPDATE_DATE,
		@UPDATE_SOURCE 
	)
	
	RETURN @@ERROR
END
GO
