update .dbo.DATA_FIELDS_EXTENSION
set DATA_ID = 301 where DATA_ID = 280

update .dbo.DATA_FIELDS_EXTENSION
set DATA_ID = 302 where DATA_ID = 236

update .dbo.DATA_FIELDS_EXTENSION
set DATA_ID = 303 where DATA_ID = 300

update .dbo.DATA_FIELDS_EXTENSION
set DATA_ID = 304 where DATA_ID = 279

update .dbo.DATA_FIELDS_EXTENSION
set DATA_ID = 306 where DATA_ID = 188

update .dbo.DATA_FIELDS_EXTENSION
set DATA_ID = 308 where DATA_ID = 187

update .dbo.DATA_FIELDS_EXTENSION
set DATA_ID = 309 where DATA_ID = 200
