<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AIMSEntities" connectionString="metadata=res://*/AIMSDateModel.csdl|res://*/AIMSDateModel.ssdl|res://*/AIMSDateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AIMS_Data_POC;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="DimensionServiceUrl" value="http://172.16.1.137:7000/GreenFieldOData/wcfdataservice.svc/"/>
		<add key="MaxRecordFetchCount" value="1000"/>
		<add key="DistinctEntityTypes" value="SECURITY|INDEX|COMMODITY|CURRENCY"/>
	</appSettings>
</configuration>