/****** Object:  Table [dbo].[COUNTRY_GROUP_MASTER]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COUNTRY_GROUP_MASTER](
	[GROUP_CODE] [int] NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[ASHEMM_PROPRIETARY_REGION_CODE] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [COUNTRY_GROUP_MASTER_idx] ON [dbo].[COUNTRY_GROUP_MASTER] 
(
	[GROUP_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
