/****** Object:  Table [dbo].[INTERNAL_COMMODITY_ASSUMPTIONS]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTERNAL_COMMODITY_ASSUMPTIONS](
	[ISSUER_ID] [varchar](20) NOT NULL,
	[REF_NO] [varchar](50) NOT NULL,
	[COMMODITY_ID] [varchar](50) NOT NULL,
	[AMOUNT] [decimal](32, 6) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
