/****** Object:  Table [dbo].[USERNAME_BASKET]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[USERNAME_BASKET](
	[USERNAME] [varchar](50) NOT NULL,
	[BASKET_ID] [int] NOT NULL,
 CONSTRAINT [PK_USERNAME_BASKET] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[BASKET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
