/****** Object:  Table [dbo].[FINSTAT_DISPLAY]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINSTAT_DISPLAY](
	[DATA_ID] [int] NOT NULL,
	[ESTIMATE_ID] [int] NULL,
	[COA_TYPE] [varchar](3) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[BOLD_FONT] [char](1) NOT NULL,
	[DECIMALS] [int] NOT NULL,
	[MULTIPLIER] [decimal](32, 6) NOT NULL,
	[PERCENTAGE] [char](1) NOT NULL,
	[HARMONIC] [char](1) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [FINSTAT_DISPLAY_idx] ON [dbo].[FINSTAT_DISPLAY] 
(
	[DATA_ID] ASC,
	[COA_TYPE] ASC,
	[GROUP_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
