/****** Object:  Table [dbo].[GF_BENCHMARK_HOLDINGS]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GF_BENCHMARK_HOLDINGS](
	[GF_ID] [int] NOT NULL,
	[PORTFOLIO_DATE] [datetime] NULL,
	[PORTFOLIO_ID] [nvarchar](50) NULL,
	[PORTFOLIO_THEME_SUBGROUP_CODE] [nvarchar](50) NULL,
	[PORTFOLIO_CURRENCY] [nvarchar](50) NULL,
	[BENCHMARK_ID] [nvarchar](50) NULL,
	[ISSUER_ID] [nvarchar](16) NULL,
	[ASEC_SEC_SHORT_NAME] [nvarchar](16) NULL,
	[ISSUE_NAME] [nvarchar](50) NULL,
	[TICKER] [nvarchar](30) NULL,
	[SECURITYTHEMECODE] [nvarchar](10) NULL,
	[A_SEC_INSTR_TYPE] [nvarchar](2000) NULL,
	[SECURITY_TYPE] [nvarchar](10) NULL,
	[BALANCE_NOMINAL] [decimal](32, 6) NULL,
	[DIRTY_PRICE] [decimal](32, 6) NULL,
	[TRADING_CURRENCY] [nvarchar](3) NULL,
	[DIRTY_VALUE_PC] [decimal](32, 6) NULL,
	[BENCHMARK_WEIGHT] [decimal](32, 6) NULL,
	[ASH_EMM_MODEL_WEIGHT] [decimal](32, 6) NULL,
	[MARKET_CAP_IN_USD] [decimal](32, 6) NULL,
	[ASHEMM_PROP_REGION_CODE] [nvarchar](10) NULL,
	[ASHEMM_PROP_REGION_NAME] [nvarchar](50) NULL,
	[ISO_COUNTRY_CODE] [nvarchar](3) NULL,
	[COUNTRYNAME] [nvarchar](50) NULL,
	[GICS_SECTOR] [nvarchar](50) NULL,
	[GICS_SECTOR_NAME] [nvarchar](60) NULL,
	[GICS_INDUSTRY] [nvarchar](50) NULL,
	[GICS_INDUSTRY_NAME] [nvarchar](60) NULL,
	[GICS_SUB_INDUSTRY] [nvarchar](50) NULL,
	[GICS_SUB_INDUSTRY_NAME] [nvarchar](60) NULL,
	[LOOK_THRU_FUND] [nvarchar](10) NULL,
	[BARRA_RISK_FACTOR_MOMENTUM] [decimal](32, 6) NULL,
	[BARRA_RISK_FACTOR_VOLATILITY] [decimal](32, 6) NULL,
	[BARRA_RISK_FACTOR_VALUE] [decimal](32, 6) NULL,
	[BARRA_RISK_FACTOR_SIZE] [decimal](32, 6) NULL,
	[BARRA_RISK_FACTOR_SIZE_NONLIN] [decimal](32, 6) NULL,
	[BARRA_RISK_FACTOR_GROWTH] [decimal](32, 6) NULL,
	[BARRA_RISK_FACTOR_LIQUIDITY] [decimal](32, 6) NULL,
	[BARRA_RISK_FACTOR_LEVERAGE] [decimal](32, 6) NULL,
	[BARRA_RISK_FACTOR_PBETEWLD] [decimal](32, 6) NULL
) ON [PRIMARY]
GO
