/****** Object:  Table [dbo].[temp_LOADED_SECS]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_LOADED_SECS](
	[ASEC_SEC_SHORT_NAME] [nvarchar](255) NULL,
	[Done] [nvarchar](255) NULL
) ON [PRIMARY]
GO
