/****** Object:  Table [dbo].[TARGETING_TYPE]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TARGETING_TYPE](
	[ID] [int] NOT NULL,
	[TARGETING_TYPE_GROUP_ID] [int] NOT NULL,
	[TAXONOMY_ID] [int] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[BENCHMARK_ID] [varchar](100) NULL,
 CONSTRAINT [PK_TARGETING_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TARGETING_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_TARGETING_TYPE_TARGETING_TYPE_GROUP] FOREIGN KEY([TARGETING_TYPE_GROUP_ID])
REFERENCES [dbo].[TARGETING_TYPE_GROUP] ([ID])
GO
ALTER TABLE [dbo].[TARGETING_TYPE] CHECK CONSTRAINT [FK_TARGETING_TYPE_TARGETING_TYPE_GROUP]
GO
ALTER TABLE [dbo].[TARGETING_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_TARGETING_TYPE_TAXONOMY] FOREIGN KEY([TAXONOMY_ID])
REFERENCES [dbo].[TAXONOMY] ([ID])
GO
ALTER TABLE [dbo].[TARGETING_TYPE] CHECK CONSTRAINT [FK_TARGETING_TYPE_TAXONOMY]
GO
