/****** Object:  Table [dbo].[GRID_TYPES]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRID_TYPES](
	[GRID_ID] [int] NOT NULL,
	[COA_TYPE] [varchar](3) NOT NULL,
	[SHOW_GRID] [char](1) NULL,
	[SORT_ORDER] [int] NOT NULL,
	[GRID_DESC] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [GRID_TYPES_idx] ON [dbo].[GRID_TYPES] 
(
	[GRID_ID] ASC,
	[COA_TYPE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
