/****** Object:  Table [dbo].[GF_PRICING_BASEVIEW]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GF_PRICING_BASEVIEW](
	[INSTRUMENT_ID] [varchar](20) NOT NULL,
	[TYPE] [varchar](10) NULL,
	[TICKER] [varchar](20) NULL,
	[ISSUE_NAME] [varchar](100) NULL,
	[FROMDATE] [datetime] NOT NULL,
	[DAILY_CLOSING_PRICE] [decimal](32, 6) NULL,
	[DAILY_PRICE_RETURN] [decimal](32, 6) NULL,
	[DAILY_GROSS_RETURN] [decimal](32, 6) NULL,
	[VALUME] [decimal](32, 6) NULL,
	[DAILY_SPOT_FX] [decimal](32, 6) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [GF_PRICING_BASEVIEW_idx] ON [dbo].[GF_PRICING_BASEVIEW] 
(
	[INSTRUMENT_ID] ASC,
	[FROMDATE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
