/****** Object:  Table [dbo].[FX_RATES]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FX_RATES](
	[CURRENCY] [char](3) NOT NULL,
	[FX_DATE] [datetime] NOT NULL,
	[FX_RATE] [decimal](32, 6) NOT NULL,
	[AVG90DAYRATE] [decimal](32, 6) NULL,
	[AVG12MonthRATE] [decimal](32, 6) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [FX_RATES_idx] ON [dbo].[FX_RATES] 
(
	[CURRENCY] ASC,
	[FX_DATE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [FX_RATES_Idx_Non-Unique] ON [dbo].[FX_RATES] 
(
	[CURRENCY] ASC,
	[FX_DATE] ASC
)
INCLUDE ( [FX_RATE]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Index1] ON [dbo].[FX_RATES] 
(
	[CURRENCY] ASC,
	[FX_DATE] ASC
)
INCLUDE ( [FX_RATE]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
