/****** Object:  Table [dbo].[Macroeconomic_Display]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Macroeconomic_Display](
	[DISPLAY_TYPE] [varchar](20) NOT NULL,
	[FIELD] [varchar](30) NOT NULL,
	[CATEGORY_NAME] [varchar](30) NOT NULL,
	[FIELD_DESC] [varchar](50) NOT NULL,
	[DATATYPE] [varchar](10) NOT NULL,
	[DECIMALS] [int] NULL,
	[SORT_ORDER] [int] NOT NULL,
	[HELP_TEXT] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [Macroeconomic_Display_idx] ON [dbo].[Macroeconomic_Display] 
(
	[DISPLAY_TYPE] ASC,
	[FIELD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Macroeconomic_Display_idx2] ON [dbo].[Macroeconomic_Display] 
(
	[FIELD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
