/****** Object:  Table [dbo].[FAIR_VALUE]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FAIR_VALUE](
	[VALUE_TYPE] [varchar](20) NOT NULL,
	[SECURITY_ID] [varchar](20) NOT NULL,
	[FV_MEASURE] [int] NOT NULL,
	[FV_BUY] [decimal](32, 6) NOT NULL,
	[FV_SELL] [decimal](32, 6) NOT NULL,
	[CURRENT_MEASURE_VALUE] [decimal](32, 6) NOT NULL,
	[UPSIDE] [decimal](32, 6) NOT NULL,
	[UPDATED] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [FAIR_VALUE_idx] ON [dbo].[FAIR_VALUE] 
(
	[VALUE_TYPE] ASC,
	[SECURITY_ID] ASC,
	[FV_MEASURE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
