/****** Object:  Table [dbo].[MODEL_INPUTS_CTY]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODEL_INPUTS_CTY](
	[COUNTRY_CODE] [char](2) NOT NULL,
	[RISK_PREM] [decimal](32, 6) NOT NULL,
	[RISK_FREE_RATE] [decimal](32, 6) NOT NULL,
	[LONG_TERM_GDP_GR] [decimal](32, 6) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [MODEL_INPUTS_CTY_idx] ON [dbo].[MODEL_INPUTS_CTY] 
(
	[COUNTRY_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
