/****** Object:  Table [dbo].[FINANCIAL_GRIDS_DISPLAY]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINANCIAL_GRIDS_DISPLAY](
	[GRID_ID] [int] NOT NULL,
	[COA_TYPE] [varchar](3) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[DATA_ID] [int] NOT NULL,
	[ESTIMATE_ID] [int] NULL,
	[DECIMALS] [int] NOT NULL,
	[PERCENTAGE] [char](1) NOT NULL,
	[AXIS] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [FINANCIAL_GRIDS_DISPLAY_idx] ON [dbo].[FINANCIAL_GRIDS_DISPLAY] 
(
	[GRID_ID] ASC,
	[COA_TYPE] ASC,
	[DATA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [FINANCIAL_GRIDS_DISPLAY_idx2] ON [dbo].[FINANCIAL_GRIDS_DISPLAY] 
(
	[GRID_ID] ASC,
	[COA_TYPE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [FINANCIAL_GRIDS_DISPLAY_idx3] ON [dbo].[FINANCIAL_GRIDS_DISPLAY] 
(
	[COA_TYPE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
