/****** Object:  Table [dbo].[INTERNAL_STATEMENT]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTERNAL_STATEMENT](
	[ISSUER_ID] [varchar](20) NOT NULL,
	[REF_NO] [varchar](50) NOT NULL,
	[PERIOD_YEAR] [int] NOT NULL,
	[ROOT_SOURCE] [varchar](10) NOT NULL,
	[ROOT_SOURCE_DATE] [datetime] NOT NULL,
	[PERIOD_LENGTH] [int] NOT NULL,
	[PERIOD_END_DATE] [datetime] NOT NULL,
	[CURRENCY] [char](3) NOT NULL,
	[AMOUNT_TYPE] [char](10) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [INTERNAL_STATEMENT_idx] ON [dbo].[INTERNAL_STATEMENT] 
(
	[ISSUER_ID] ASC,
	[ROOT_SOURCE] ASC,
	[PERIOD_YEAR] ASC,
	[PERIOD_END_DATE] ASC,
	[CURRENCY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [INTERNAL_STATEMENT_idx2] ON [dbo].[INTERNAL_STATEMENT] 
(
	[ISSUER_ID] ASC,
	[ROOT_SOURCE] ASC,
	[CURRENCY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
