/****** Object:  Table [dbo].[INTERNAL_MODEL_LOAD]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTERNAL_MODEL_LOAD](
	[LOAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[ISSUER_ID] [varchar](20) NOT NULL,
	[ROOT_SOURCE] [varchar](10) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[LOAD_TIME] [datetime] NOT NULL,
	[DOCUMENT_ID] [bigint] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [INTERNAL_MODEL_LOAD_idx] ON [dbo].[INTERNAL_MODEL_LOAD] 
(
	[LOAD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
