/****** Object:  Table [dbo].[CONSENSUS_MASTER]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONSENSUS_MASTER](
	[ESTIMATE_ID] [int] NOT NULL,
	[ESTIMATE_TYPE] [char](8) NOT NULL,
	[FX_CONV_TYPE] [char](4) NOT NULL,
	[CALENDARIZE] [char](1) NULL,
	[INDUSTRIAL] [char](1) NOT NULL,
	[BANK] [char](1) NOT NULL,
	[INSURANCE] [char](1) NOT NULL,
	[UTILITY] [char](1) NOT NULL,
	[ESTIMATE_DESC] [varchar](100) NOT NULL,
	[ANNUAL] [char](1) NULL,
	[QUARTERLY] [char](1) NULL,
	[CURRENT] [char](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [CONSENSUS_MASTER_idx] ON [dbo].[CONSENSUS_MASTER] 
(
	[ESTIMATE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
