/****** Object:  Table [dbo].[Macroeconomic_Data]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Macroeconomic_Data](
	[COUNTRY_CODE] [char](4) NOT NULL,
	[FIELD] [varchar](30) NOT NULL,
	[YEAR1] [int] NOT NULL,
	[VALUE] [decimal](32, 6) NULL,
	[UPDATE_DATE] [datetime] NOT NULL,
	[UPDATE_SOURCE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Macroeconomic_Data] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_CODE] ASC,
	[FIELD] ASC,
	[YEAR1] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [Macroeconomic_Data_idx2] ON [dbo].[Macroeconomic_Data] 
(
	[COUNTRY_CODE] ASC,
	[FIELD] ASC,
	[YEAR1] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
