/****** Object:  Table [dbo].[Country_Master]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country_Master](
	[COUNTRY_CODE] [char](4) NOT NULL,
	[COUNTRY_NAME] [varchar](50) NOT NULL,
	[CURRENCY_CODE] [char](4) NOT NULL,
	[CURRENCY_NAME] [varchar](30) NOT NULL,
	[MACRO_ECON_DATA_CURRENT] [char](1) NOT NULL,
	[ASHEMM_PROPRIETARY_REGION_NAME] [varchar](20) NULL,
	[ASHEMM_PROPRIETARY_REGION_CODE] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [Country_Master_idx] ON [dbo].[Country_Master] 
(
	[COUNTRY_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Country_Master_idx2] ON [dbo].[Country_Master] 
(
	[ASHEMM_PROPRIETARY_REGION_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
