/****** Object:  Table [dbo].[REGION_BASKET]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGION_BASKET](
	[ID] [int] NOT NULL,
	[DEFINITION] [xml] NOT NULL,
 CONSTRAINT [PK_REGION_BASKET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_REGION_BASKET] ON [dbo].[REGION_BASKET] 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REGION_BASKET]  WITH CHECK ADD  CONSTRAINT [FK_REGION_BASKET_BASKET] FOREIGN KEY([ID])
REFERENCES [dbo].[BASKET] ([ID])
GO
ALTER TABLE [dbo].[REGION_BASKET] CHECK CONSTRAINT [FK_REGION_BASKET_BASKET]
GO
