/****** Object:  Table [dbo].[INTERNAL_ISSUER]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTERNAL_ISSUER](
	[ISSUER_ID] [varchar](20) NOT NULL,
	[COA_TYPE] [varchar](3) NOT NULL,
	[LastPrimaryModelLoad] [datetime] NULL,
	[LastIndustryModelLoad] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [INTERNAL_ISSUER_idx] ON [dbo].[INTERNAL_ISSUER] 
(
	[ISSUER_ID] ASC,
	[COA_TYPE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
