/****** Object:  Table [dbo].[DATA_MASTER]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATA_MASTER](
	[DATA_ID] [int] NOT NULL,
	[COA] [char](8) NULL,
	[FX_CONV_TYPE] [char](6) NOT NULL,
	[CALENDARIZE] [char](1) NOT NULL,
	[INDUSTRIAL] [char](1) NOT NULL,
	[BANK] [char](1) NOT NULL,
	[INSURANCE] [char](1) NOT NULL,
	[UTILITY] [char](1) NOT NULL,
	[QUARTERLY] [char](1) NOT NULL,
	[DATA_DESC] [varchar](100) NOT NULL,
	[COA_TYPE] [varchar](3) NULL,
	[ANNUAL] [char](1) NULL,
	[CURRENT] [char](1) NULL,
	[STATEMENT_TYPE] [varchar](3) NULL,
	[LONG_DESC] [varchar](1024) NULL,
	[CONVERT_FLAG] [char](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [DATA_MASTER_idx] ON [dbo].[DATA_MASTER] 
(
	[DATA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
