/****** Object:  Table [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET](
	[PORTFOLIO_ID] [varchar](20) NOT NULL,
	[SECURITY_ID] [varchar](20) NOT NULL,
	[BASKET_ID] [int] NOT NULL,
	[TARGET] [decimal](32, 6) NOT NULL,
	[CHANGE_ID] [int] NOT NULL,
 CONSTRAINT [PK_BASKET_PORTFOLIO_SECURITY_TARGET] PRIMARY KEY CLUSTERED 
(
	[PORTFOLIO_ID] ASC,
	[SECURITY_ID] ASC,
	[BASKET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET]  WITH CHECK ADD  CONSTRAINT [FK_BASKET_PORTFOLIO_SECURITY_TARGET_BASKET] FOREIGN KEY([BASKET_ID])
REFERENCES [dbo].[BASKET] ([ID])
GO
ALTER TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET] CHECK CONSTRAINT [FK_BASKET_PORTFOLIO_SECURITY_TARGET_BASKET]
GO
ALTER TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET]  WITH CHECK ADD  CONSTRAINT [FK_BASKET_PORTFOLIO_SECURITY_TARGET_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE] FOREIGN KEY([CHANGE_ID])
REFERENCES [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE] ([ID])
GO
ALTER TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET] CHECK CONSTRAINT [FK_BASKET_PORTFOLIO_SECURITY_TARGET_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE]
GO
