/****** Object:  Table [dbo].[PRICES]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRICES](
	[SECURITY_ID] [varchar](20) NOT NULL,
	[PRICE_DATE] [datetime] NOT NULL,
	[PRICE] [decimal](32, 6) NOT NULL,
	[FX_RATE] [decimal](32, 6) NOT NULL,
	[ADR_CONV] [decimal](32, 6) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [PRICES_idx] ON [dbo].[PRICES] 
(
	[SECURITY_ID] ASC,
	[PRICE_DATE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PRICES_idx_1] ON [dbo].[PRICES] 
(
	[SECURITY_ID] ASC
)
INCLUDE ( [PRICE_DATE],
[PRICE]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
