/****** Object:  Table [dbo].[ISSUER_SHARES]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ISSUER_SHARES](
	[ISSUER_ID] [varchar](20) NOT NULL,
	[SHARES_DATE] [datetime] NOT NULL,
	[SHARES_OUTSTANDING] [decimal](32, 2) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [ISSUER_SHARES_indx2] ON [dbo].[ISSUER_SHARES] 
(
	[ISSUER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ISSUER_SHARES_indx3] ON [dbo].[ISSUER_SHARES] 
(
	[ISSUER_ID] ASC,
	[SHARES_DATE] ASC
)
INCLUDE ( [SHARES_OUTSTANDING]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [ISSUER_SHARES_inx] ON [dbo].[ISSUER_SHARES] 
(
	[ISSUER_ID] ASC,
	[SHARES_DATE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
