/****** Object:  Table [dbo].[GET_DATA_RUN]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GET_DATA_RUN](
	[RUN_ID] [int] IDENTITY(1,1) NOT NULL,
	[START_TIME] [datetime] NOT NULL,
	[END_TIME] [datetime] NULL,
	[STATUS_TXT] [varchar](50) NOT NULL,
	[ISSUER_COUNT] [int] NULL,
	[STEPS_COUNT] [int] NULL,
	[STEPS_DONE] [int] NULL,
	[PROCESS_ID] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [GET_DATA_RUN_idx] ON [dbo].[GET_DATA_RUN] 
(
	[RUN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
