/****** Object:  Table [dbo].[PERIOD_FINANCIALS]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERIOD_FINANCIALS](
	[ISSUER_ID] [varchar](20) NOT NULL,
	[SECURITY_ID] [varchar](20) NOT NULL,
	[COA_TYPE] [varchar](3) NOT NULL,
	[DATA_SOURCE] [varchar](10) NOT NULL,
	[ROOT_SOURCE] [varchar](10) NOT NULL,
	[ROOT_SOURCE_DATE] [datetime] NOT NULL,
	[PERIOD_TYPE] [char](2) NOT NULL,
	[PERIOD_YEAR] [int] NOT NULL,
	[PERIOD_END_DATE] [datetime] NOT NULL,
	[FISCAL_TYPE] [char](8) NOT NULL,
	[CURRENCY] [char](3) NOT NULL,
	[DATA_ID] [int] NOT NULL,
	[AMOUNT] [decimal](32, 6) NOT NULL,
	[CALCULATION_DIAGRAM] [varchar](255) NULL,
	[SOURCE_CURRENCY] [char](3) NOT NULL,
	[AMOUNT_TYPE] [char](10) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [PERIOD_FINANCIALS_idx] ON [dbo].[PERIOD_FINANCIALS] 
(
	[ISSUER_ID] ASC,
	[DATA_SOURCE] ASC,
	[PERIOD_TYPE] ASC,
	[FISCAL_TYPE] ASC
)
INCLUDE ( [SECURITY_ID],
[COA_TYPE],
[ROOT_SOURCE],
[ROOT_SOURCE_DATE],
[PERIOD_YEAR],
[PERIOD_END_DATE],
[CURRENCY],
[DATA_ID],
[AMOUNT],
[CALCULATION_DIAGRAM],
[SOURCE_CURRENCY],
[AMOUNT_TYPE]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PERIOD_FINANCIALS_idx2] ON [dbo].[PERIOD_FINANCIALS] 
(
	[ISSUER_ID] ASC,
	[SECURITY_ID] ASC,
	[DATA_SOURCE] ASC,
	[FISCAL_TYPE] ASC,
	[CURRENCY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PERIOD_FINANCIALS_idx3] ON [dbo].[PERIOD_FINANCIALS] 
(
	[ISSUER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PERIOD_FINANCIALS_idx4] ON [dbo].[PERIOD_FINANCIALS] 
(
	[SECURITY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PERIOD_FINANCIALS_IDX5] ON [dbo].[PERIOD_FINANCIALS] 
(
	[PERIOD_TYPE] ASC,
	[DATA_ID] ASC
)
INCLUDE ( [ISSUER_ID],
[SECURITY_ID],
[COA_TYPE],
[DATA_SOURCE],
[ROOT_SOURCE],
[ROOT_SOURCE_DATE],
[PERIOD_YEAR],
[PERIOD_END_DATE],
[FISCAL_TYPE],
[CURRENCY],
[AMOUNT],
[CALCULATION_DIAGRAM],
[SOURCE_CURRENCY],
[AMOUNT_TYPE]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PERIOD_FINANCIALS_IDX6] ON [dbo].[PERIOD_FINANCIALS] 
(
	[ISSUER_ID] ASC,
	[DATA_ID] ASC
)
INCLUDE ( [PERIOD_END_DATE]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
