/****** Object:  Table [dbo].[TARGETING_TYPE_GROUP]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TARGETING_TYPE_GROUP](
	[ID] [int] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[BENCHMARK_ID] [varchar](100) NULL,
 CONSTRAINT [PK_TARGETING_TYPE_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
