/****** Object:  Table [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE]    Script Date: 03/08/2013 11:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE](
	[ID] [int] NOT NULL,
	[CHANGESET_ID] [int] NOT NULL,
	[BASKET_ID] [int] NOT NULL,
	[PORTFOLIO_ID] [varchar](20) NOT NULL,
	[SECURITY_ID] [varchar](20) NOT NULL,
	[TARGET_BEFORE] [decimal](32, 6) NULL,
	[TARGET_AFTER] [decimal](32, 6) NULL,
	[COMMENT] [ntext] NOT NULL,
 CONSTRAINT [PK_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE]  WITH CHECK ADD  CONSTRAINT [FK_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE_BASKET] FOREIGN KEY([BASKET_ID])
REFERENCES [dbo].[BASKET] ([ID])
GO
ALTER TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE] CHECK CONSTRAINT [FK_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE_BASKET]
GO
ALTER TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE]  WITH CHECK ADD  CONSTRAINT [FK_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGESET] FOREIGN KEY([CHANGESET_ID])
REFERENCES [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET_CHANGESET] ([ID])
GO
ALTER TABLE [dbo].[BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE] CHECK CONSTRAINT [FK_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGE_BASKET_PORTFOLIO_SECURITY_TARGET_CHANGESET]
GO
