/****** Object:  Default [DF_BGA_PORTFOLIO_SECURITY_TARGET_UPDATED]    Script Date: 03/08/2013 11:10:03 ******/
ALTER TABLE [dbo].[BGA_PORTFOLIO_SECURITY_TARGET] ADD  CONSTRAINT [DF_BGA_PORTFOLIO_SECURITY_TARGET_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
