/****** Object:  Default [DF_PORTFOLIO_IS_BOTTOM_UP]    Script Date: 03/08/2013 11:10:03 ******/
ALTER TABLE [dbo].[PORTFOLIO] ADD  CONSTRAINT [DF_PORTFOLIO_IS_BOTTOM_UP]  DEFAULT ((0)) FOR [IS_BOTTOM_UP]
GO
