<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ResearchEntities" connectionString="metadata=res://*/ResearchDataModel.csdl|res://*/ResearchDataModel.ssdl|res://*/ResearchDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AshmoreEMMPOC;Persist Security Info=True;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ExternalResearchEntities" connectionString="metadata=res://*/ExternalResearchDataModel.csdl|res://*/ExternalResearchDataModel.ssdl|res://*/ExternalResearchDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AIMS_Data2108;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ICPresentationEntities" connectionString="metadata=res://*/ICPresentationDataModel.csdl|res://*/ICPresentationDataModel.ssdl|res://*/ICPresentationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AshmoreEMMPOC;Persist Security Info=True;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ReutersEntities" connectionString="metadata=res://*/ReutersDataModel.csdl|res://*/ReutersDataModel.ssdl|res://*/ReutersDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=Reuters;Persist Security Info=True;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomScreeningToolEntities" connectionString="metadata=res://*/CustomScreeningToolDataModel.csdl|res://*/CustomScreeningToolDataModel.ssdl|res://*/CustomScreeningToolDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AIMS_Data0608;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	  <add name="DCFEntities" connectionString="metadata=res://*/DCFDataModel.csdl|res://*/DCFDataModel.ssdl|res://*/DCFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AIMS_Data2108;Persist Security Info=True;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>