<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ResearchEntities" connectionString="metadata=res://*/ResearchDataModel.csdl|res://*/ResearchDataModel.ssdl|res://*/ResearchDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AshmoreEMMPOC;Persist Security Info=True;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ExternalResearchEntities" connectionString="metadata=res://*/ExternalResearchDataModel.csdl|res://*/ExternalResearchDataModel.ssdl|res://*/ExternalResearchDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AIMS_Database;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>
</configuration>