/****** Object:  Table [dbo].[Country_Master]    Script Date: 03/08/2013 10:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country_Master](
	[COUNTRY_CODE] [char](4) NOT NULL,
	[COUNTRY_NAME] [varchar](30) NOT NULL,
	[CURRENCY_CODE] [char](4) NOT NULL,
	[CURRENCY_NAME] [varchar](20) NOT NULL,
	[MACRO_ECON_DATA_CURRENT] [char](1) NOT NULL,
	[ASHEMM_PROPRIETARY_REGION_NAME] [varchar](20) NULL,
	[ASHEMM_PROPRIETARY_REGION_CODE] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
