/****** Object:  Table [dbo].[COMMODITY_FORECASTS]    Script Date: 03/08/2013 10:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMODITY_FORECASTS](
	[COMMODITY_ID] [varchar](50) NOT NULL,
	[CURRENT_YEAR_END] [real] NULL,
	[NEXT_YEAR_END] [real] NULL,
	[LONG_TERM] [real] NULL,
	[LASTUPDATE] [datetime] NULL,
 CONSTRAINT [pk_Commodity] PRIMARY KEY CLUSTERED 
(
	[COMMODITY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
