SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelUpdateInternalModelLoadData] 
	(
		@LOAD_ID int,
		@ISSUER_ID VARCHAR(20),
		@ROOT_SOURCE VARCHAR(10),
		@USER_NAME VARCHAR(255),
		@LOAD_TIME DATETIME,
		@DOCUMENT_ID bigint
	)
AS
BEGIN
	
	SET NOCOUNT ON;
	
UPDATE INTERNAL_MODEL_LOAD 
SET ISSUER_ID=@ISSUER_ID,
ROOT_SOURCE=@ROOT_SOURCE,
UserName=@USER_NAME,
LOAD_TIME=@LOAD_TIME,
DOCUMENT_ID=@DOCUMENT_ID
WHERE LOAD_ID=@LOAD_ID
    
END
GO
