SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelInsertInternalIssuerQuaterelyDistribution]
(
@ISSUER_ID VARCHAR(20),
@DATA_SOURCE VARCHAR(20),
@PERIOD_TYPE CHAR(2),
@PERCENTAGE DECIMAL(32,6),
@LAST_UPDATED DATETIME
) 

AS
BEGIN
	
	INSERT INTO INTERNAL_ISSUER_QUARTERLY_DISTRIBUTION VALUES
	(
		@ISSUER_ID ,
		@DATA_SOURCE ,
		@PERIOD_TYPE ,
		@PERCENTAGE ,
		@LAST_UPDATED 
	)
	RETURN @@ERROR
	
END
GO
