SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelRetrieveInternalIssuer] 
	(
		@ISSUER_ID VARCHAR(20)
	)
AS
BEGIN
	
	SET NOCOUNT ON;

SELECT * 
FROM INTERNAL_ISSUER
WHERE ISSUER_ID=@ISSUER_ID
    
END
GO
