SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelInsertInternalCOAChanges]
	(
		@ISSUER_ID VARCHAR(20),
		@ROOT_SOURCE VARCHAR(10),
		@LOAD_ID BIGINT,
		@CURRENCY VARCHAR(3),
		@COA VARCHAR(8),
		@PERIOD_YEAR INT,
		@PERIOD_END_DATE DATETIME,
		@START_DATE DATETIME,
		@END_DATE DATETIME,
		@AMOUNT DECIMAL(32,6),
		@UNITS CHAR(1)
	)
AS
BEGIN
	
	SET NOCOUNT ON;

    INSERT INTO INTERNAL_COA_CHANGES VALUES
    (
		@ISSUER_ID ,
		@ROOT_SOURCE ,
		@LOAD_ID ,
		@CURRENCY ,
		@COA ,
		@PERIOD_YEAR ,
		@PERIOD_END_DATE ,
		@START_DATE ,
		@END_DATE ,
		@AMOUNT ,
		@UNITS 
    )
     
    
END
GO
