SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelUpdateDataInternalIssuer] 
	(
		@ISSUER_ID VARCHAR(20),
		@LASTPRIMARYMODELLOAD DATETIME,
		@LASTINDUSTRYMODELLOAD DATETIME
	)
AS
BEGIN
	
	SET NOCOUNT ON;
UPDATE INTERNAL_ISSUER
SET ISSUER_ID=@ISSUER_ID,LastIndustryModelLoad=@LASTINDUSTRYMODELLOAD,LastPrimaryModelLoad=@LASTPRIMARYMODELLOAD
WHERE ISSUER_ID=@ISSUER_ID
    
	
END
GO
