SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelDeleteInternalIssuerQuarterlyDistribution]
	(
		@ISSUER_ID VARCHAR(20),
		@DATA_SOURCE VARCHAR(10)
	)
AS
BEGIN
	
	SET NOCOUNT ON;

	DELETE FROM INTERNAL_ISSUER_QUARTERLY_DISTRIBUTION 
	WHERE ISSUER_ID=@ISSUER_ID AND DATA_SOURCE=@DATA_SOURCE
    
END
GO
