SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
alter procedure [dbo].[GetDCFCashFlow]
(
@ISSUER_ID varchar(50)
)
AS
DECLARE @PERIOD_YEARS TABLE(YEAR INT) 
DECLARE @INC INT=0
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SET @INC=0
WHILE @INC<5
BEGIN
INSERT INTO @PERIOD_YEARS VALUES(YEAR(GETDATE())+@INC)
SET @INC=@INC+1
END



    -- Insert statements for procedure here
	SELECT AMOUNT,
	PERIOD_YEAR,
	0.0 as DISCOUNTING_FACTOR,
	0.0 as FREE_CASH_FLOW 
	FROM PERIOD_FINANCIALS pf
		
	WHERE ISSUER_ID=@ISSUER_ID
	AND DATA_SOURCE='PRIMARY'
	AND PERIOD_TYPE='A'
	AND PERIOD_YEAR IN (SELECT * FROM @PERIOD_YEARS)
	AND CURRENCY='USD'
	AND FISCAL_TYPE='CALENDAR'
	AND DATA_ID=157
	
END
GO
