SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelUpdateInternalCOAChanges]
	(
		@ISSUER_ID VARCHAR(20),
		@ROOT_SOURCE VARCHAR(10),
		@CURRENCY VARCHAR(3),
		@COA VARCHAR(8),
		@PERIOD_YEAR INT,
		@TIME_STAMP DATETIME
	)
AS
BEGIN
	
	SET NOCOUNT ON;

    Update INTERNAL_COA_CHANGES 
    Set END_DATE=@TIME_STAMP
    where ISSUER_ID=@ISSUER_ID
    AND ROOT_SOURCE=@ROOT_SOURCE
    AND COA=@COA
    AND PERIOD_YEAR=@PERIOD_YEAR
    AND CURRENCY=@CURRENCY
    AND END_DATE IS NULL
     
    
END
GO
