SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelDeleteInternalData] 
	(
		@ISSUER_ID VARCHAR(50),
		@REF_NO VARCHAR(20)
	)
AS
BEGIN	
	
	SET NOCOUNT ON;
	
	DELETE FROM INTERNAL_DATA 
	WHERE ISSUER_ID=@ISSUER_ID 
	AND REF_NO=@REF_NO
    
END
GO
