SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelInsertInternalCommodityAssumptions] 
	(
		@ISSUER_ID VARCHAR(20),
		@REF_NO VARCHAR(20),
		@COMMODITY_ID VARCHAR(50),
		@AMOUNT DECIMAL(32,6)
	)
AS
BEGIN

	SET NOCOUNT ON;

INSERT INTO INTERNAL_COMMODITY_ASSUMPTIONS VALUES
(		@ISSUER_ID ,
		@REF_NO ,
		@COMMODITY_ID,
		@AMOUNT 
)
END
GO
