SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
alter procedure [dbo].[GetDCFMarketCap]
(
@SECURITY_ID varchar(50)
) 
AS
BEGIN
	SELECT AMOUNT FROM PERIOD_FINANCIALS WHERE
	SECURITY_ID=@SECURITY_ID 
	AND PERIOD_TYPE='C'
	AND CURRENCY='USD'
	AND DATA_ID=185
	
END
GO
