SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelRetrieveinternalModelLoadData] 
	(
		@ISSUER_ID VARCHAR(20),
		@ROOT_SOURCE VARCHAR(10),
		@LOAD_TIME DATETIME
	)
AS
BEGIN
	
	SET NOCOUNT ON;
SELECT * FROM INTERNAL_MODEL_LOAD 
WHERE ISSUER_ID=@ISSUER_ID 
AND ROOT_SOURCE=@ROOT_SOURCE

    
END
GO
