SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelRetrieveInternalCOAChanges]
	(
		@ISSUER_ID VARCHAR(20),
		@ROOT_SOURCE VARCHAR(10),
		@COA VARCHAR(8),
		@PERIOD_YEAR INT,
		@CURRENCY VARCHAR(3)
	)
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT * 
    FROM INTERNAL_COA_CHANGES
    WHERE ISSUER_ID=@ISSUER_ID
    AND ROOT_SOURCE=@ROOT_SOURCE
    AND COA=@COA
    AND PERIOD_YEAR=@PERIOD_YEAR
    AND CURRENCY=@CURRENCY
    AND END_DATE IS NULL
     
    
END
GO
