SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelInsertInternalStatement] 
	(
		@ISSUER_ID VARCHAR(50),
		@REF_NO VARCHAR(20),
		@PERIOD_YEAR INT,
		@ROOT_SOURCE VARCHAR(10),
		@ROOT_SOURCE_DATE DATETIME,
		@PERIOD_LENGTH INT,
		@PERIOD_END_DATE DATETIME,
		@CURRENCY CHAR(3),
		@AMOUNT_TYPE CHAR(10)
	)
AS
BEGIN	
	
	SET NOCOUNT ON;
	
	INSERT INTO INTERNAL_STATEMENT VALUES(
		@ISSUER_ID ,
		@REF_NO ,
		@PERIOD_YEAR ,
		@ROOT_SOURCE ,
		@ROOT_SOURCE_DATE ,
		@PERIOD_LENGTH ,
		@PERIOD_END_DATE ,
		@CURRENCY ,
		@AMOUNT_TYPE )
    
    RETURN @@ERROR
END
GO
