<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="DimensionWebService" value="http://172.16.1.137:7000/GreenFieldOData/wcfdataservice.svc/"/>
  </appSettings>
  <connectionStrings><add name="BenchmarkNodeFinancialsEntities" connectionString="metadata=res://*/BenchmarkNodeFinancialsEntityDataModel.csdl|res://*/BenchmarkNodeFinancialsEntityDataModel.ssdl|res://*/BenchmarkNodeFinancialsEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AIMS_Data2108;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="AIMSDataEntity" connectionString="metadata=res://*/BNFDataModel.csdl|res://*/BNFDataModel.ssdl|res://*/BNFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ND1DDYYB6Q1\SQLEXPRESS;Initial Catalog=AIMS_Data2108;User ID=sa;Password=India@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>