<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Aims" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Aims;Integrated Security=True"/>
    <add name="AimsEntities" connectionString="metadata=res://*/AimsModel.csdl|res://*/AimsModel.ssdl|res://*/AimsModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=lonweb1t.ashmore.local;Initial Catalog=AIMS_Main;Persist Security Info=True;User ID=WPSuperUser;Password=Password1;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="DimensionWebService" value="http://172.16.1.137:7000/GreenFieldOData/wcfdataservice.svc/"/>
  </appSettings>

    <applicationSettings>
        <GreenField.IssuerShares.Server.Properties.Settings>
            <setting name="RecordsPerBulk" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RecordsPerChunk" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="MaxNumberOfDaysToStopExtrapolatingAfter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumberOfDaysAgoToStartLoadingFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfDaysBeforeLoadingDateToBeGuaranteeFromHittingGap"
                serializeAs="String">
                <value>7</value>
            </setting>
          
        </GreenField.IssuerShares.Server.Properties.Settings>
    </applicationSettings>
</configuration>