SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelInsertInternalModelLoadData] 
	(
		@ISSUER_ID VARCHAR(20),
		@ROOT_SOURCE VARCHAR(10),
		@USER_NAME VARCHAR(255),
		@LOAD_TIME DATETIME,
		@DOCUMENT_ID bigint
	)
AS
BEGIN
	
	SET NOCOUNT ON;
	
INSERT INTO INTERNAL_MODEL_LOAD VALUES
	(	@ISSUER_ID ,
		@ROOT_SOURCE ,
		@USER_NAME ,
		@LOAD_TIME ,
		@DOCUMENT_ID 
	)
    
END
GO
