SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
alter procedure [dbo].[GetDCF_NumberOfShares]
(
	@SECURITY_ID varchar(50)
)
AS
BEGIN
	
	SET NOCOUNT ON;

SELECT AMOUNT, DATA_ID 
FROM PERIOD_FINANCIALS 
WHERE SECURITY_ID=@SECURITY_ID
AND PERIOD_TYPE='C'
AND CURRENCY='USD'
AND DATA_ID=218
    
END
GO
