SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
alter procedure [dbo].[GetDCFGDP]
(
@COUNTRY_CODE VARCHAR(50)
) 
	
AS
BEGIN
	
	SET NOCOUNT ON;
Select LONG_TERM_GDP_GR	
from MODEL_INPUTS_CTY 
where COUNTRY_CODE=@COUNTRY_CODE
    
	
END
GO
