SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
------------------------------------------------------------------------
-- Purpose:	This procedure calculates the value for DATA_ID:254  Forward P/E Relative to Country Industry
-- 187 / Forward P/E for Country Industry of Security*
-- Author:	Prerna
-- Date:	Aug 22, 2012
------------------------------------------------------------------------

alter procedure [dbo].[AIMS_Calc_254](
	@ISSUER_ID			varchar(20) = NULL			-- The company identifier		
,	@CALC_LOG			char		= 'Y'			-- write calculation errors to the log table
,	@stage				char		= 'N'
)
as


	  select pf.* 
	  into #A
	  from dbo.PERIOD_FINANCIALS_SECURITY_STAGE pf with (nolock)
	  where 1=0
	  
	-- Get the data
	if @stage = 'Y'
	Begin
		  insert 	  into #A
		  select pf.* 
		  from dbo.PERIOD_FINANCIALS_SECURITY_STAGE pf with (nolock)
		 inner join dbo.GF_SECURITY_BASEVIEW sb on sb.SECURITY_ID = pf.SECURITY_ID
		 where DATA_ID = 187					
		   and sb.ISSUER_ID = @ISSUER_ID
	end
	else
	begin
		  insert   into #A
		  select pf.* 
		  from dbo.PERIOD_FINANCIALS_SECURITY_MAIN pf with (nolock)
		 inner join dbo.GF_SECURITY_BASEVIEW sb on sb.SECURITY_ID = pf.SECURITY_ID
		 where DATA_ID = 187					
		   and sb.ISSUER_ID = @ISSUER_ID
	end
	
	
	select bf.*,sb.ISSUER_ID as issuer_id
	  into #B
	  from dbo.BENCHMARK_NODE_FINANCIALS bf
	  inner join GF_SECURITY_BASEVIEW sb 
		on bf.NODE_ID1 = sb.ISO_COUNTRY_CODE	
		and bf.NODE_ID2 = sb.GICS_INDUSTRY	  	  
	  where bf.DATA_ID = 187
	   and sb.ISSUER_ID = @ISSUER_ID
	   and bf.BENCHMARK_ID = 'MSCI EM NET'
	   and bf.NODE_NAME1 = 'COUNTRY'
	   and bf.NODE_NAME2 = 'INDUSTRY'
	   and bf.PERIOD_TYPE = 'C' 
	    

	-- Add the data to the table
	BEGIN TRAN T1
	if @stage = 'Y'
	Begin
	
		insert into PERIOD_FINANCIALS_SECURITY_STAGE(ISSUER_ID, SECURITY_ID, COA_TYPE, DATA_SOURCE, ROOT_SOURCE
			  , ROOT_SOURCE_DATE, PERIOD_TYPE, PERIOD_YEAR, PERIOD_END_DATE, FISCAL_TYPE, CURRENCY
			  , DATA_ID, AMOUNT, CALCULATION_DIAGRAM, SOURCE_CURRENCY, AMOUNT_TYPE)
		select distinct a.ISSUER_ID, a.SECURITY_ID, a.COA_TYPE, a.DATA_SOURCE, a.ROOT_SOURCE
			,  a.ROOT_SOURCE_DATE, a.PERIOD_TYPE, a.PERIOD_YEAR, a.PERIOD_END_DATE
			,  a.FISCAL_TYPE, a.CURRENCY
			,  254 as DATA_ID							-- DATA_ID:254  Forward P/E Relative to Country Industry
			,  a.AMOUNT / b.AMOUNT as AMOUNT			-- 187 / Forward P/E for Country Industry of Security*
			,  '187(' + CAST(a.AMOUNT as varchar(32)) + ') / (Forward P/E('  + CAST(b.AMOUNT as varchar(32))  + ')'   as CALCULATION_DIAGRAM
			,  a.SOURCE_CURRENCY
			,  a.AMOUNT_TYPE
		  from #A a
		 inner join	#B b on b.PERIOD_TYPE = a.PERIOD_TYPE					
						and b.CURRENCY = a.CURRENCY
		 where 1=1 	  
		  and isnull(b.AMOUNT, 0.0) <> 0.0	-- Data validation	
	  end
	  else
	  begin
	  		insert into PERIOD_FINANCIALS_SECURITY_MAIN(ISSUER_ID, SECURITY_ID, COA_TYPE, DATA_SOURCE, ROOT_SOURCE
			  , ROOT_SOURCE_DATE, PERIOD_TYPE, PERIOD_YEAR, PERIOD_END_DATE, FISCAL_TYPE, CURRENCY
			  , DATA_ID, AMOUNT, CALCULATION_DIAGRAM, SOURCE_CURRENCY, AMOUNT_TYPE)
		select distinct a.ISSUER_ID, a.SECURITY_ID, a.COA_TYPE, a.DATA_SOURCE, a.ROOT_SOURCE
			,  a.ROOT_SOURCE_DATE, a.PERIOD_TYPE, a.PERIOD_YEAR, a.PERIOD_END_DATE
			,  a.FISCAL_TYPE, a.CURRENCY
			,  254 as DATA_ID							-- DATA_ID:254  Forward P/E Relative to Country Industry
			,  a.AMOUNT / b.AMOUNT as AMOUNT			-- 187 / Forward P/E for Country Industry of Security*
			,  '187(' + CAST(a.AMOUNT as varchar(32)) + ') / (Forward P/E('  + CAST(b.AMOUNT as varchar(32))  + ')'   as CALCULATION_DIAGRAM
			,  a.SOURCE_CURRENCY
			,  a.AMOUNT_TYPE
		  from #A a
		 inner join	#B b on b.PERIOD_TYPE = a.PERIOD_TYPE					
						and b.CURRENCY = a.CURRENCY
		 where 1=1 	  
		  and isnull(b.AMOUNT, 0.0) <> 0.0	-- Data validation	
	  end
	COMMIT TRAN T1
	if @CALC_LOG = 'Y'
		BEGIN	
			-- Error conditions - NULL or Zero data 
			insert into CALC_LOG( LOG_DATE, DATA_ID, ISSUER_ID, PERIOD_TYPE, PERIOD_YEAR
								, PERIOD_END_DATE, FISCAL_TYPE, CURRENCY, TXT)
			(
			select GETDATE() as LOG_DATE, 254 as DATA_ID, a.ISSUER_ID, a.PERIOD_TYPE
				,  a.PERIOD_YEAR, a.PERIOD_END_DATE, a.FISCAL_TYPE, a.CURRENCY
				, 'ERROR calculating 254  Forward P/E Relative to Country Industry.  Forward P/E is NULL or ZERO'
			   from #A a
			 where isnull(a.AMOUNT, 0.0) = 0.0	-- Data error	  
			) union (	

			-- Error conditions - missing data 
			select GETDATE() as LOG_DATE, 254 as DATA_ID, a.ISSUER_ID, a.PERIOD_TYPE
				,  a.PERIOD_YEAR, a.PERIOD_END_DATE, a.FISCAL_TYPE, a.CURRENCY
				, 'ERROR calculating  254 :Forward P/E Relative to Country Industry.  Forward P/E is missing' as TXT
			  from #A a
			 inner join dbo.GF_SECURITY_BASEVIEW sb on sb.SECURITY_ID = a.SECURITY_ID
			  left join	#B b on b.ISSUER_ID = sb.ISSUER_ID 					
							and b.PERIOD_TYPE = a.PERIOD_TYPE					
							and b.CURRENCY = a.CURRENCY
			 where 1=1 and b.ISSUER_ID is NULL	 
			) union	(

			-- Error conditions - missing data 
			select GETDATE() as LOG_DATE, 254 as DATA_ID, @ISSUER_ID, b.PERIOD_TYPE
				,  b.PERIOD_YEAR,  '01/01/1900' as PERIOD_END_DATE,  ' ' as FISCAL_TYPE, b.CURRENCY
				, 'ERROR calculating 254: Forward P/E Relative to Country Industry.  DATA_ID:187 is missing'
			  from #B b
			 inner join dbo.GF_SECURITY_BASEVIEW sb on sb.ISSUER_ID = b.ISSUER_ID
			 left join	#A a on a.SECURITY_ID = sb.SECURITY_ID
							and a.PERIOD_TYPE = b.PERIOD_TYPE					
							and a.CURRENCY = b.CURRENCY
			 where 1=1 and a.ISSUER_ID is NULL	  
			) union	(
			-- ERROR - No data at all available
			select GETDATE() as LOG_DATE, 254 as DATA_ID, isnull(@ISSUER_ID, ' ') as ISSUER_ID, ' ' as PERIOD_TYPE
				,  0 as PERIOD_YEAR,  '1/1/1900' as PERIOD_END_DATE,  ' ' as FISCAL_TYPE,  ' ' as CURRENCY
				, 'ERROR calculating 254: Forward P/E Relative to Country Industry.  DATA_ID:187 no data' as TXT
			  from (select COUNT(*) CNT from #A having COUNT(*) = 0) z
			) union	(
			select GETDATE() as LOG_DATE, 254 as DATA_ID, isnull(@ISSUER_ID, ' ') as ISSUER_ID, ' ' as PERIOD_TYPE
				,  0 as PERIOD_YEAR,  '1/1/1900' as PERIOD_END_DATE,  ' ' as FISCAL_TYPE,  ' ' as CURRENCY
				, 'ERROR calculating 254: Forward P/E Relative to Country Industry.  Forward P/E no data' as TXT
			  from (select COUNT(*) CNT from #B having COUNT(*) = 0) z
			)
		END
		
	-- Clean up
	drop table #A
	drop table #B
GO
