SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelDeleteInternalIssuer] 
	(
		@ISSUER_ID VARCHAR(20)
	)
AS
BEGIN
	
	DELETE FROM INTERNAL_ISSUER 
	WHERE ISSUER_ID=@ISSUER_ID
	
END
GO
