SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelDeleteInteralStatement] 
	(
	@ISSUER_ID VARCHAR(50),
	@ROOT_SOURCE VARCHAR(10)
	)
AS
BEGIN

	SET NOCOUNT ON;

Select REF_NO 
into #REF_LIST
from INTERNAL_STATEMENT
WHERE ISSUER_ID=@ISSUER_ID AND ROOT_SOURCE=@ROOT_SOURCE

Delete from INTERNAL_STATEMENT 
where ISSUER_ID=@ISSUER_ID and ROOT_SOURCE=@ROOT_SOURCE

SELECT * 
FROM #REF_LIST

DROP TABLE #REF_LIST

END
GO
