SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[InsertDCFFairValue]
	(
	@SECURITY_ID VARCHAR(20),
	@VALUE_TYPE VARCHAR(20),
	@FV_MEASURE INT,
	@FV_BUY DECIMAL(32,6),
	@FV_SELL DECIMAL(32,6),
	@CURRENT_MEASURE_VALUE	DECIMAL(32,6),
	@UPSIDE DECIMAL(32,6),
	@UPDATED DATETIME,
	@PERIOD_TYPE CHAR(2),
	@PERIOD_YEAR int
	)
AS
BEGIN
	
	INSERT INTO FAIR_VALUE VALUES(@VALUE_TYPE,@SECURITY_ID,@FV_MEASURE,@FV_BUY,@FV_SELL,@CURRENT_MEASURE_VALUE,@UPSIDE,@UPDATED,@PERIOD_TYPE,@PERIOD_YEAR)
	
	RETURN @@ERROR

END
GO
