SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
alter procedure [dbo].[GetAmountForUpsideCalculation]
(
	@SECURITY_ID VARCHAR(20),
	@DATA_ID     INT, 									   
	@DATA_SOURCE VARCHAR(10) 
)
AS
BEGIN
	
SET NOCOUNT ON;

DECLARE @amount DECIMAL(32,6)

 SELECT TOP 1 @amount = (PERIOD_FINANCIALS.AMOUNT)
 FROM PERIOD_FINANCIALS
 WHERE SECURITY_ID = @SECURITY_ID AND DATA_ID = @DATA_ID 
 AND DATA_SOURCE = @DATA_SOURCE
 AND CURRENCY = 'USD' AND PERIOD_TYPE = 'C'

IF @@ROWCOUNT=0
BEGIN
 SET @amount = 0
END

SELECT @amount
   
END
GO
