SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[GetDCFFairValue]
(
	@SECURITY_ID VARCHAR(50)
) 	
AS
BEGIN
	SET NOCOUNT ON;

SELECT * FROM PERIOD_FINANCIALS 
WHERE SECURITY_ID=@SECURITY_ID
AND PERIOD_TYPE='C' 
AND DATA_SOURCE='PRIMARY' 
AND CURRENCY='USD'
AND DATA_ID IN (187,188)

END
GO
