SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelInsertInternalData] 
	(
		@ISSUER_ID VARCHAR(20),
		@REF_NO VARCHAR(20),
		@PERIOD_TYPE CHAR(2),
		@COA CHAR(8),
		@AMOUNT DECIMAL(32,6)
	)
AS
BEGIN
	
	INSERT INTO INTERNAL_DATA VALUES
	(	@ISSUER_ID ,
		@REF_NO ,
		@PERIOD_TYPE ,
		@COA ,
		@AMOUNT 
	)
	
	RETURN @@ERROR
END
GO
