SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[DeleteDCFFairValueData] 
	(
	@SECURITY_ID VARCHAR(20)
	)
AS
BEGIN
	
	SET NOCOUNT ON;

   DELETE FROM FAIR_VALUE 
   WHERE SECURITY_ID=@SECURITY_ID 
   AND VALUE_TYPE IN ('DCF_PE','DCF_PBV')
	
END
GO
