SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelInsertInternalIssuer] 
	(
		@ISSUER_ID VARCHAR(20),
		@COA_TYPE VARCHAR(3),
		@LASTPRIMARYMODELLOAD DATETIME,
		@LASTINDUSTRYMODELLOAD DATETIME
	)
AS
BEGIN
	
	SET NOCOUNT ON;

INSERT INTO INTERNAL_ISSUER VALUES
(
		@ISSUER_ID ,
		@COA_TYPE ,
		@LASTPRIMARYMODELLOAD ,
		@LASTINDUSTRYMODELLOAD 
)
   
   RETURN @@ERROR 
END
GO
