
  update [dbo].[UserListDataPointMappingInfo]
  set DataDescription = 'P/BV BF24' where DataDescription = 'Forward P/BV'
  
  update [dbo].[UserListDataPointMappingInfo]
  set DataDescription = 'Dividend Yield BF24' where DataDescription = 'Forward Dividend Yield'
  
  update [dbo].[UserListDataPointMappingInfo]
  set DataDescription = 'EV/EBITDA BF24' where DataDescription = 'Forward EV/EBITDA'
  
 update [dbo].[UserListDataPointMappingInfo]
 set DataDescription = 'ROE BF24' where DataDescription = 'Forward ROE'
 
  update [dbo].[UserListDataPointMappingInfo]
 set DataDescription = 'P/E BF24' where DataDescription = 'Forward P/E'
 
   update [dbo].[UserListDataPointMappingInfo]
 set DataDescription = 'P/CE BF24' where DataDescription = 'Forward P/CE'