SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter procedure [dbo].[ModelInsertDataInternalIssuer] 
	(
		@ISSUER_ID VARCHAR(20),
		@COA VARCHAR(3),
		@LASTPRIMARYMODELLOAD DATETIME,
		@LASTINDUSTRYMODELLOAD DATETIME
	)
AS
BEGIN
	
	SET NOCOUNT ON;
INSERT INTO INTERNAL_ISSUER VALUES
	(		@ISSUER_ID ,
		@COA ,
		@LASTPRIMARYMODELLOAD ,
		@LASTINDUSTRYMODELLOAD 
	)
    
	
END
GO
