<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<!-- Replacing the connection strings -->
	<connectionStrings xdt:Transform="Replace">
		
		<!-- QA -->
		<add name="ResearchEntities"
			 connectionString="metadata=res://*/ResearchDataModel.csdl|res://*/ResearchDataModel.ssdl|res://*/ResearchDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=lonweb1t.ashmore.local;Initial Catalog=GreenfieldQA;Persist Security Info=True;User ID=WPSuperUser;Password=Password1;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
		
		<add name="ExternalResearchEntities"
			 connectionString="metadata=res://*/ExternalResearchDataModel.csdl|res://*/ExternalResearchDataModel.ssdl|res://*/ExternalResearchDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=lonweb1t.ashmore.local;Initial Catalog=AIMS_Data_QA;Persist Security Info=True;User ID=WPSuperUser;Password=Password1;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
		
		<add name="ICPresentationEntities"
			 connectionString="metadata=res://*/ICPresentationDataModel.csdl|res://*/ICPresentationDataModel.ssdl|res://*/ICPresentationDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=lonweb1t.ashmore.local;Initial Catalog=GreenfieldQA;Persist Security Info=True;User ID=WPSuperUser;Password=Password1;MultipleActiveResultSets=True'" />
		
		<add name="ApplicationServices"
			 connectionString="Data Source=lonweb1t.ashmore.local;Initial Catalog=aspnetdb_QA;Integrated Security=False;User ID=WPSuperUser;Password=Password1;MultipleActiveResultSets=True"/>
		
		<add name="ReutersEntities"
			 connectionString="metadata=res://*/ReutersDataModel.csdl|res://*/ReutersDataModel.ssdl|res://*/ReutersDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=lonweb1t.ashmore.local;Initial Catalog=Reuters;Persist Security Info=True;User ID=WPSuperUser;Password=Password1;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
		
		<add name="CustomScreeningToolEntities"
			 connectionString="metadata=res://*/CustomScreeningToolDataModel.csdl|res://*/CustomScreeningToolDataModel.ssdl|res://*/CustomScreeningToolDataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=lonweb1t.ashmore.com;Initial Catalog=AIMS_Data0608;User ID=sa;Password=India@123;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
		
	</connectionStrings>
	
	
	
	<system.web>
		<!-- <compilation xdt:Transform="RemoveAttributes(debug)" /> -->
		
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
</configuration>